*{
    margin: 0;
    padding: 0;
}
body{
    margin: 30px auto;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    }
p{
    text-align: center;
    font-family: fantasy;
    margin-top: 15px;
    font-size: 28px;
    color: gray;
    margin-bottom: 30px;
}
hr{
    margin: 30px;
    }
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input, textarea{
    width: 80%;
    height: 30px;
    border-radius: 15px;
    border-color: gray;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}
button{
    padding: 15px 25px;
    background-color: black;
    color: white;
    border-radius: 20px;
}
form button :hover{
   background-color: rgba(0, 0, 0, 0.835);
}
textarea{
    height: 120px;
}
input:focus, input:textarea{
    border: solid burlywood;
    
}