*{
    margin: 0;
    padding: 0;
}
html{
    background-color: black;
    color: greenyellow;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    animation: colores 20s ease infinite;
}
.contenedor{
    margin: 10px auto;
    

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content:center;
    gap: 15px;
}
.tarjeta{
    border: 1px solid purple;
    box-shadow: 0 0 0 5px lightgrey;
    border-radius: 10px;
}
.tarjeta:hover{
    
    background-color: aliceblue;
    color: aquamarine;
}
@keyframes colores{
    0%{ background-color: aqua;}
    25%{ background-color: brown; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
    50%{background-color: blueviolet;font-family: fantasy;}
    75%{background-color: pink;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
    100%{background-color: cadetblue; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
}